.header_container {
    background-color: #FFC017;
    flex-direction: row;
    

    .logo-img {
        width: 161.47px;
        height: 25px;
        vertical-align: middle;
        flex-direction: row;
    }

}